@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

.d-b {
    border: 1px solid red;
}

.active {
    color:green;
}
/* scss */
#admin {  
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    height: 100vh;
    overflow: hidden;
    display: flex;

    .admin-icon {
        border-radius: 20px 20px 0 0;
        border-bottom: 1px dotted rgb(109, 0, 156);
    }


#sidebar {
    width: 20%;
    background-color: #1F1D2B;
    margin: 20px;
    border-radius: 20px;
    color: rgb(206, 206, 206);
    transition: width 0.5s ease; 
  }
  
  #sidebar ul {
    list-style: none;
  }
  
  #sidebar a {
    text-decoration: none;
    color: rgb(206, 206, 206);
    transition: opacity 0.5s ease; 
  }
  

  @media (max-width: 768px) {
    #sidebar {
      width: 100px;
    }
  
    #sidebar .admin-icon span {
      display: none; 
    }
  
    #sidebar ul li span {
      display: none; 
    }

    .admin-icon {

        width: 100%;
        display: flex;
        justify-content: center;
    }
  
  }

    #wrapper {
        flex-grow: 1;
        background-color: #1F1D2B;
        margin: 20px;
        border-radius: 20px;
        
        header{
            height: 70px;
            border: 1px solid red;
        }
    }
}


